<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <%# Header %>
        <div id="top-rectangle"></div>
        <div id="horizontal-line"></div>
        <div id="name">Min Hoo Lee</div>
        <div id="page-name">Health Service Pricing</div>
        <div id="company-name"><b>Angel Care</b></div>
        
        <%# Sidebar Content %>
        <div id="left-rectangle"></div>
        <div id="vertical-line"></div>
        
        <div class="dashboard">
            <img src="/images/dashboard_icon.png" alt="Dashboard" class="dashboard-icon">
            <form action="/" method="GET">
                <input type="submit" value="Dashboard" id="dashboard-button">
            </form>
            
            
        </div>
        
         <div class="provider">
            <img src="/images/provider.png" alt="Provider" class="Provider-icon">
            <form action="/" method="GET">
                <input type="submit" value="Provider" id="Provider-button">
            </form>
            
            
        </div>
        
        
        
         <div class="insurance">
            <img src="/images/insurance_icon.png" alt="Insurance" class="insurance-icon">
            <form action="/insurance" method="POST">
                <input type="submit" value="Insurance" id="insurance-button">
            </form>
        </div>
        
    
        <div class="service-pricing">
			<img src="/images/services_prices_icon.png" alt="Health Service Pricing" class="service-icon">
            <form action="/cpt" method="POST">
                <input type="submit" value="Service Pricing" id="costs-button">
            </form>
        </div>
		
		<div id="bar-graph-rectangle"></div>
		
		<div id="service-pricing-graph">
			<div id="service-name"><%= JSON.parse(JSON.stringify(desc)) %></div>
			<canvas id="service-pricing-canvas" width="1000" height="500"></canvas>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
			<script>
			var barData = {
				labels : ["Low", "Average", "High"],
				datasets : [{
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					data : [<%=JSON.stringify(low)%>, <%=JSON.stringify(average)%>, <%=JSON.stringify(highPrice)%>]
				}]
			}
			var ctx = document.getElementById("service-pricing-canvas").getContext("2d");
			new Chart(ctx).Bar(barData);
			</script>
			<form action='/cpt' method='POST'>
            	<input type="text" placeholder="CPT Code" id="service-text-field"><br>
        	</form>
		</div>
        
        <img src="/images/user_icon.png" alt="Profile" class="profile"> 
    
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>
