<html>
  <head>
    <title>Angel Care</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <style>
      #back{
        min-height:95vh;
        background-image: url('../images/why.jpg');
        background-size: cover;
      }

      .main-content, #big{
        min-height: 90vh;
      }

      .info{
        min-height: 100vh;
      }

      .body{
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      $('a').click(function() {
          var href = $.attr(this, 'href');
          $root.animate({
              scrollTop: $(href).offset().top
          }, 3000, function () {
              window.location.hash = href;
          });
          return false;
      });
    </script>
  </head>
  <body>
    <nav class="blue">
      <div class="navbar-wrapper">
        <a href="#" class="brand-logo" style="padding-left:10px">Angel Care</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="contact" >Sign Up</a></li>
          <li> <a href = "contact" > Log in </li>
        </ul>
      </div>
    </nav>

    <div class="main grey lighten-3" id="back" style="padding:0;margin:0">
            <div class="container" style="padding-top:25vh">
                <div class="text">
                    <h1 id="name" class="name center-align animated bounceInDown white-text" style="text-shadow: 2px 2px 4px #000000;">Angel Care</h1>
                </div>
                <div class="center-align">
                    <a href="#about" id="move" class="waves-effect waves-light btn animated">Learn More</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>

