<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <%# Header %>
        <div id="top-rectangle"></div>
        <div id="horizontal-line"></div>
        <div id="name">Min Hoo Lee</div>
        <div id="page-name">Dashboard</div>
        <div id="company-name"><b>Angel Care</b></div>
        
        <%# Sidebar Content %>
        <div id="left-rectangle"></div>
        <div id="vertical-line"></div>
       
        <div class="dashboard">
            <img src="/images/dashboard_icon.png" alt="Dashboard" class="dashboard-icon">
            <form action="/" method="GET">
                <input type="submit" value="Dashboard" id="dashboard-button">
            </form>
        </div>

        <div class="service-pricing">
            <form action="/cpt" method="POST">
                <input type="submit" value="Service Pricing" id="costs-button">
            </form>
        </div>
        
        <div class="settings">
            <img src="/images/user_icon.png" alt="Profile" class="profile"> 
            <form action="/settings" method="POST">
                <input type="submit" value="" id="settings-button">
            </form>
        </div>

        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>

