body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
}

#top-rectangle {
	width: 100%;
	height: 50px;
    background: white;
	position: fixed;
    top: 0px;
    left: 0px;
}

#left-rectangle {
    width: 200px;
    height: 100%;
    background: #5078B4;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#vertical-line {
    border-left: 1px solid #d5d5d5;
    height: 50px;
    position: fixed;
    left: 200px;
    top: 0px;
}

#horizontal-line {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 50px;
}

#circle {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 150px;
    background-color: #000000;
    border-radius: 200px;
}

#name {
    position: fixed;
    top: 15px;
    right: 50px;
    font-family: 'Monsterrat', sans-serif;
}

#company-name {
    position: fixed;
    top: 10px;
    left: 39px;
    font-size: 150%;
    font-family: 'Merienda One', sans-serif;
    color: #5078B4;
}

#page-name {
    position: fixed;
    top: 13px;
    left: 220px;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
}

#dashboard-button {
    position: fixed;
    top: 100px;
    left: 30px;
    width: 170px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 130%;
    text-align: middle;
    color: white;
    font-family: 'Monsterrat', sans-serif;
    -webkit-filter: brightness(90%);
    transition: -webkitfilter .3s linear;
}

.profile {
    position: fixed;
    top: 5px;
    right: 150px;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    background-color: white;
    transition: -webkitfilter .3s linear;
}

.profile:hover {
    -webkit-filter: brightness(120%);
}

.dashboard-icon {
    position: fixed;
    top: 100px;
    left: 25px;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    -webkit-filter: brightness(75%);
    transition: -webkitfilter .3s linear;
}

#dashboard-button:hover {
    -webkit-filter: brightness(130%);
}
