body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
}

#top-rectangle {
	width: 100%;
	height: 75px;
    background: white;
	position: fixed;
    top: 0px;
    left: 0px;
}

#left-rectangle {
    width: 300px;
    height: 100%;
    background: #5078B4;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#vertical-line {
    border-left: 1px solid #d5d5d5;
    height: 75px;
    position: fixed;
    left: 300px;
    top: 0px;
}

#horizontal-line {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 75px;
}

#circle {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 150px;
    background-color: #000000;
    border-radius: 200px;
}

#name {
    position: fixed;
    top: 23px;
    right: 50px;
	font-size: 150%;
    font-family: 'Monsterrat', sans-serif;
}

#company-name {
    position: fixed;
    top: 10px;
    left: 30px;
    font-size: 300%;
    font-family: 'Merienda One', sans-serif;
    color: #5078B4;
}

#page-name {
    position: fixed;
    top: 13px;
    left: 330px;
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
}

.profile {
    position: fixed;
    top: 18px;
    right: 190px;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    background-color: white;
    transition: -webkitfilter .3s linear;
}

/* Dashboard Page */
.dashboard:hover {
    -webkit-filter: brightness(130%);
}

#dashboard-button {
    position: fixed;
    top: 150px;
    left: 60px;
    width: 175px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 150%;
    text-align: middle;
    color: white;
    font-family: 'Monsterrat', sans-serif;
    -webkit-filter: brightness(80%);
    transition: -webkitfilter .3s linear;
}

.dashboard-icon {
    position: fixed;
    top: 150px;
    left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 200px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> e2ca331... Finish cpt page and finish the skeleton for the dashboard
    -webkit-filter: brightness(75%);
=======
    -webkit-filter: brightness(80%);
>>>>>>> 93b3cc8... Finish cpt page and finish the skeleton for the dashboard
    transition: -webkitfilter .3s linear;
}

#main-rectangle {
	height: 400px;
    background: white;
	position: fixed;
    top: 125px;
    left: 350px;
	right: 50px;
	border-radius: 10px;
	z-index: -1;
}

#left-sub-rectangle {
	position: fixed;
	width: 39%;
	top: 540px;
	bottom: 50px;
	left: 350px;
	background: white;
	border-radius: 10px;
	z-index: -1;
}

#right-sub-rectangle {
	position: fixed;
	width: 39%;
	top: 540px;
	bottom: 50px;
	right: 50px;
	background: white;
	border-radius: 10px;
	z-index: -1;
}

/* Health Service Pricing Page */
.service-pricing:hover {
    -webkit-filter: brightness(130%);
}

#costs-button {
    position: fixed;
    top: 220px;
    left: 78px;
    width: 175px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 150%;
    text-align: middle;
    color: white;
    font-family: 'Monsterrat', sans-serif;
    -webkit-filter: brightness(80%);
    transition: -webkitfilter .3s linear;
}

#bar-graph-rectangle {
	position: fixed;
    background: white;
    top: 125px;
	bottom: 50px;
    left: 350px;
	right: 50px;
	border-radius: 10px;
    z-index: -1;
}

#service-name {
	text-align: center;	
	font-size: 300%;
    font-family: 'Montserrat', sans-serif;
	display: inline-block;
	vertical-align: top;
}

/*
position: fixed;
    top: 200px;
    left: 50%;
position: fixed;
	top: 300px;
	left: 30%;
*/

#service-pricing-canvas {
	display: inline-block;
	vertical-align: middle;
	padding: 50px;
}

#service-text-field {
	display: inline-block;
	vertical-align: bottom;
	height: 30px;
	width: 500px;
	text-align: center;
	border-radius: 5px;
	border-width: 1px;
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
}

#service-pricing-graph {
	position: relative;
	top: 150px;
	left: 40%;
	display: table-cell;
	text-align: center;
	height: 400px;
	width: 400px;
}

#service-pricing-graph div {
	display: inline-block;
}

.service-icon {
	position: fixed;
    top: 220px;
    left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    -webkit-filter: brightness(80%);
    transition: -webkitfilter .3s linear;
}

.settings:hover{
    -webkit-filter: brightness(120%);
}

#settings-button {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 150px;
    background-color: transparent;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    overflow: hidden;
    font-size: 130%;
    text-align: middle;
    color: white;
    font-family: 'Monsterrat', sans-serif;
    -webkit-filter: brightness(90%);
    transition: -webkitfilter .3s linear;
}



